---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubernetes-dashboard-user
  namespace: {{ k8s_dashboard.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: kubernetes-dashboard-user-cluster-rule
  namespace: {{ k8s_dashboard.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: kubernetes-dashboard-user
    namespace: {{ k8s_dashboard.namespace }}
