apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    {% for mapping in k8s_roles_mappings %}
    - rolearn: "[% mapping.role %]"
      username: "[% mapping.username %]"
      groups:
      {% for group in mapping.groups %}
      - "[% group %]"
      {% endfor %}
    {% endfor %}

